a {
  text-decoration: none;
  color: initial; }

.Header {
  display: flex;
  justify-content: center;
  align-items: center; }

.Boards-Nav, .VK-Nav {
  width: 80px;
  height: 80px;
  display: flex;
  margin: 20px 20px 10px;
  border-radius: 50%;
  background-color: lightblue; }
  .Boards-Nav img, .VK-Nav img {
    overflow: hidden;
    max-width: 60%;
    margin: auto; }

.BoardsPage {
  padding: 35px 60px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

.createBoard {
  cursor: pointer;
  background-color: #9fe7a4;
  margin: 20px;
  color: white;
  text-shadow: 0px 0px 2.5px #000;
  border-radius: 5px;
  width: 270px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px; }
  .createBoard-form__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white; }
    .createBoard-form__header__close {
      cursor: pointer;
      filter: invert(1); }
  .createBoard-form__main {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .createBoard-form__main input {
      padding: 10px 15px;
      border-radius: 5px;
      border: 2.5px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23); }
    .createBoard-form__main__buttons {
      margin: 20px 0 5px 0;
      display: flex;
      justify-content: flex-end; }
      .createBoard-form__main__buttons button {
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px 25px;
        border: none; }
      .createBoard-form__main__buttons__create {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23); }
      .createBoard-form__main__buttons__cancel {
        background-color: #9fe7a4;
        color: white;
        text-shadow: 0px 0px 2.5px #000;
        font-weight: 900; }

.Board {
  background-color: white;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  width: 270px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .Board__delete {
    width: 20px;
    color: red;
    opacity: 0.5;
    position: relative;
    left: 90%;
    cursor: pointer; }

.one-board-page__name {
  display: flex;
  padding: 0 60px; }
  .one-board-page__name h1 {
    background-color: #9fe7a4;
    margin-left: 20px;
    color: white;
    text-shadow: 0px 0px 3px #000;
    padding: 10px 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    word-break: break-all; }
.one-board-page__main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 60px 15px; }

.add-list {
  display: flex;
  margin: 20px;
  background-color: #0a2c74;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 100px;
  cursor: pointer;
  padding: 0px 40px;
  align-items: center;
  border-radius: 5px; }
  .add-list_form {
    padding: 20px 20px 5px;
    height: 125px;
    margin: 20px 10px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center; }
    .add-list_form input {
      padding: 11px 15px;
      font-size: 16px;
      border-radius: 5px;
      border: 2.5px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
      width: 180px; }
      .add-list_form input[type=button] {
        cursor: pointer;
        background-color: #9fe7a4;
        border: none; }
    .add-list_form img {
      cursor: pointer;
      filter: invert(1);
      border: 2px #e5aae1 solid;
      border-radius: 50%;
      position: relative;
      top: -73px;
      left: 132px; }

.List {
  word-break: break-all;
  max-width: 220px;
  margin: 20px;
  text-align: center;
  background-color: white;
  padding: 5px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .List__delete {
    width: 20px;
    color: red;
    opacity: 0.5;
    position: relative;
    left: 92%;
    cursor: pointer; }
  .List h4 {
    margin-top: 0; }
  .List hr {
    width: 100%; }
  .List input {
    padding: 11px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 2.5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    width: 180px; }

.Note {
  padding: 0px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: none;
  text-align: left;
  background-color: #caffde;
  border-radius: 5px; }
  .Note.compleated {
    color: gray; }
    .Note.compleated .Note__close, .Note.compleated h3 {
      text-decoration: line-through; }
  .Note h3 {
    margin: 13px 0px;
    flex: 0.9; }
  .Note__close, .Note__delete {
    cursor: pointer;
    opacity: 0.6; }
  .Note__delete {
    color: red; }
