a {
  text-decoration: none;
  color: initial; }

.Header {
  display: flex;
  justify-content: center;
  align-items: center; }

.Boards-Nav, .VK-Nav {
  width: 80px;
  height: 80px;
  display: flex;
  margin: 20px;
  border-radius: 50%;
  background-color: lightblue; }
  .Boards-Nav img, .VK-Nav img {
    overflow: hidden;
    max-width: 60%;
    margin: auto; }

.BoardsPage {
  padding: 35px 60px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap; }

.createBoard {
  background-color: #9fe7a4;
  margin: 20px;
  color: white;
  text-shadow: 0px 0px 2.5px #000;
  border-radius: 5px;
  width: 300px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px; }
  .createBoard-form__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white; }
    .createBoard-form__header__close {
      width: 20px;
      filter: invert(1); }
  .createBoard-form__main {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .createBoard-form__main input {
      padding: 10px 15px;
      border-radius: 5px;
      border: 2.5px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23); }
    .createBoard-form__main__buttons {
      margin: 20px 0 5px 0;
      display: flex;
      justify-content: flex-end; }
      .createBoard-form__main__buttons input {
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px 25px;
        border: none; }
        .createBoard-form__main__buttons input[value='cancel'] {
          background-color: #9fe7a4;
          color: white;
          text-shadow: 0px 0px 2.5px #000;
          box-shadow: none;
          font-weight: 900; }

.Board {
  background-color: white;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .Board__name {
    padding: 10px; }
