.createBoard {
  background-color: #9fe7a4;
  margin: 20px;
  color: white;
  text-shadow: 0px 0px 2.5px #000;
  border-radius: 5px;
  width: 270px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px; }
  .createBoard:not(.form) {
    cursor: pointer;
    transition: .3s ease-in-out; }
    .createBoard:not(.form):hover {
      transform: scale(1.15); }
  .createBoard-form__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid white; }
    .createBoard-form__header__close {
      cursor: pointer;
      filter: invert(1); }
  .createBoard-form__main {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .createBoard-form__main input {
      padding: 10px 15px;
      border-radius: 5px;
      border: 2.5px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23); }
    .createBoard-form__main__buttons {
      margin: 20px 0 5px 0;
      display: flex;
      justify-content: flex-end; }
      .createBoard-form__main__buttons button {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        padding: 15px 25px;
        border: none; }
      .createBoard-form__main__buttons__create {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23); }
      .createBoard-form__main__buttons__cancel {
        background-color: #9fe7a4;
        color: white;
        text-shadow: 0px 0px 2.5px #000;
        font-weight: 900; }

.Board {
  background-color: white;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  width: 270px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s ease-in-out; }
  .Board:hover {
    transform: scale(1.15); }
  .Board__delete {
    width: 20px;
    color: red;
    opacity: 0.5;
    position: relative;
    left: 90%;
    cursor: pointer; }

.one-board-page__name {
  display: flex;
  padding: 0 60px; }
  .one-board-page__name h1 {
    background-color: #9fe7a4;
    margin-left: 20px;
    color: white;
    text-shadow: 0px 0px 3px #000;
    padding: 10px 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    word-break: break-all; }
.one-board-page__main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 60px 15px; }
