.Note {
  padding: 0px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: none;
  text-align: left;
  background-color: #caffde;
  border-radius: 5px;
  cursor: grab; }
  .Note:active {
    cursor: grabbing; }
  .Note.compleated {
    color: gray; }
    .Note.compleated .Note__close, .Note.compleated h3 {
      text-decoration: line-through; }
  .Note h3 {
    margin: 13px 0px;
    flex: 0.9; }
  .Note__close, .Note__delete {
    cursor: pointer;
    opacity: 0.6; }
  .Note__delete {
    color: red; }
