.Note{
  padding: 0px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-decoration: none;
  text-align: left;
  background-color: rgb(202, 255, 222);
  border-radius: 5px;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }

  &.compleated{
    .Note__close, h3{
      text-decoration: line-through;
    }
    color: gray;
  }
  h3{
    margin: 13px 0px;
    flex: 0.9;
  }
  &__close, &__delete{
    cursor: pointer;
    opacity: 0.6;
  }
  &__delete{
    color: red;
  }
}